@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Movie Ticketing System!</h1>
    <p>Your one-stop destination for all things related to movie ticket booking. We are dedicated to providing you with an exceptional experience, whether you're a casual moviegoer or a dedicated film enthusiast.</p>

    <h2>Explore Our Features</h2>
    <ul class="list-unstyled">
        <li><strong>Easy Booking:</strong> Seamlessly book your movie tickets online with just a few clicks.</li>
        <li><strong>Latest Showtimes:</strong> Stay updated with the latest showtimes and movie releases in your area.</li>
        
    </ul>

    <h2>Get Started</h2>
    <p>Ready to catch the latest blockbuster? <a asp-controller="Ticket" asp-action="Index">Book a ticket</a> now and secure your seats!</p>
</div>
